<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
    {{#auth}}
	<div class="twitter panel">
 	   <h2>Twitter</h2>
	   {{#twitter}}
	   {{#user}}
	   <div class="id"><label>id: </label>{{id}}</div>
	   <div class="screenName"><label>screen name: </label>{{screen_name}}</div>
	   <div class="name"><label>name: </label>{{name}}</div>
	   {{/user}}
       {{/twitter}}
	</div>
	<div class="facebook panel">
 	   <h2>Facebook</h2>
	   {{#facebook}}
	   {{#user}}
	   <div class="id"><label>id: </label>{{id}}</div>
	   <div class="username"><label>username: </label>{{username}}</div>
	   <div class="name"><label>name: </label>{{name}}</div>
	   {{/user}}
	   {{/facebook}}
	   {{^facebook}}
   	   <a href="/connect/facebook">Connect with Facebook</a>
	   {{/facebook}}
	</div>
	{{/auth}}
</body>
</html>
