<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<a href="/connect/facebook">Connect Facebook</a>
	<a href="/connect/twitter">Connect Twitter</a>
</body>
</html>